.contenedor {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contenedorFinalizar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.img img {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 20%;
  border-radius: 8px 8px 0px 0;
}
.nombrePrecio {
  display: flex;
  justify-content: space-between;
}
.nombrePrecioTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #ffc107;
  color: rgb(0, 0, 0);
  border-radius: 0 0 8px 8px;
  text-decoration: none;
}
.card-button:hover {
  text-decoration: none;
  background-color: #ffcd03;
  color: #fff;
  cursor: pointer;
}
.elPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.nombre {
  padding-left: 20px;
}
.precio {
  padding-right: 20px;
}
.sinItems {
  text-align: center;
  padding-top: 120px;
}
.link {
  text-decoration: none;
}
@media (max-width: 1550px) {
  .img img {
    max-width: 30%;
  }
}
@media (max-width: 1000px) {
  .img img {
    max-width: 40%;
  }
}
@media (max-width: 700px) {
  .img img {
    max-width: 50%;
  }
}
@media (max-width: 500px) {
  .img img {
    max-width: 65%;
  }
  .img {
    display: flex;
    justify-content: center;
  }
  .nombrePrecioTotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
    width: 70%;
  }
}
