.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.box1 {
    width: 80%;
    background-color: #ffc107;
    margin-top: 30px;
    display: flex;
}
.box2 {
    width: 80%;
    background-color: #ffc107;
    margin-top: 30px;
    display: flex;
}
.imgContainer {
    width: 50%;
}
img {
    width: 100%;
}
.benefits {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; 
}
.parrafo {
    font-family: PoppinsRegular;
    text-align: center;
    font-size: 20px;
}
.butbox2 {
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
}
.butbox1 {
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    color: #ffc107;
    background-color: black;
    font-weight: 600;
    text-decoration: none;
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover{
    color: black;
}
.butbox1:hover{
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.butbox2:hover{
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.check {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1100px) {
    .box1, .box2{
        width: 100%;
    }
}
@media (max-width: 871px) {
    .box1, .box2{
        flex-direction: column;
        width: 600px;
    }
    .imgContainer {
        width: 100%;
    }
    .imgContainer img{
        width: 100%;
    }
    .benefits{
        width: 100%;
        margin: 5% 0px 5% 0px;
    }
    .check{
        width: 100%;
        margin: 5% 0px 5% 0px;
    }
    img {
        width: 100%;
    }
    .airmax{
        height: 50%;
    }
    .parrafo {
        font-size: 17px;
    }
}
@media (max-width: 650px) {
    .box1, .box2{
        width: 100%;
        margin-top: 20px;
    }
    .text{
        width: 70%;
    }
    .homeContainer{
        padding-top: 80px;
    }
}