.loginContainer {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.center {
    width: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.center h1 {
    text-align: center;
    padding: 25px 0 20px 0;
    border-bottom: 1px solid silver;

}
.center form {
    padding: 8px 40px;
    box-sizing: border-box;
}
form .txt_field {
    position: relative;
    border-bottom:  2px solid #adadad;
    margin: 30px 0;
    z-index: 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffc107;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #ffc107;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type='submit']{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #ffc107;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-family: PoppinsRegular; 
}
.titulo{
    font-family: PoppinsMediumItalic;
}
input[type='submit']:hover{
    border-color: #ffc107;
    transition: .4s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
    font-family: PoppinsRegular;   
}
.signup_link .linkto{
    color: #ffc107;
    text-decoration: none;
    font-family: PoppinsMediumItalic; 
}
.signup_link .linkto:hover{
    text-decoration: underline;
}

@media (max-width: 786px) {
    .center {
        width: 550px;
    }
}
@media (max-width: 640px) {
    .center {
        width: 400px;
    }
}
@media (max-width: 440px) {
    .center {
        width: 320px;
    }
}