.userContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}
.userIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgb(187, 184, 184);
    border-radius: 50%;
    margin-bottom: 15px;
    font-size: 22px;
}